<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.UaenaQuiz.uaenaquiz">

    <application
        android:name="com.UaenaQuiz.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UaenaQuiz">


        <activity
            android:name="com.UaenaQuiz.uaenaquiz.thirtieth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.twentyNinth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.twentyEighth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.twentySeventh"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.twentySixth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.twentyFifth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.twentyFourth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.twentyThird"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.twentySecond"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.twentyFirst"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.twentieth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.nineteenth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.eighteenth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.seventeenth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.sixteenth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.fifteenth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.fourteenth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.thirteenth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.twelfth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.eleventh"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.tenth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.ninth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.ProblemList"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.eighth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.seventh"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.sixth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.fifth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.LastPage"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.fourth"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.third"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.second"
            android:exported="false" />
        <activity
            android:name="com.UaenaQuiz.uaenaquiz.first"
            android:exported="false" />
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- Real AdMob app ID: ca-app-pub-3545555975398754~5411865355 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name="com.UaenaQuiz.uaenaquiz.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>